<div class="p-5">
  <div class="flex flex-column gap-4">

    <div class="flex justify-content-end">
      <p-button label="Ajouter un compte" icon="pi pi-plus" (onClick)="ouvrirDialog()" />
    </div>

    @if (error()) {
      <p class="p-error">Erreur de chargement.</p>
    }

<p-table [value]="comptes()" [loading]="isLoading()">
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
      <th>IBAN</th>
      <th>Type</th>
      <th>Solde</th>
      <th>Statut</th>
      <th>Date d'ouverture</th>
      <th>Actions</th> 
    </tr>
  </ng-template>

   <ng-template pTemplate="body" let-compte>
    <tr>
      <td>{{nomClient(compte.clientId)}}</td>
      <td>{{ asCompte(compte).iban | formatIban}}</td>
      <td>{{ asCompte(compte).type }}</td>
      <td>{{ compte.solde | formatSolde }}</td>
      <td>
       <p-tag 
          [value]="compte.statut"
          [severity]="severiteStatut(compte.statut)">
       </p-tag>
      </td>
      <td>{{ compte.dateOuverture }}</td>
      <td class="flex gap-2">
        <p-button (onClick)="confirmerChangement(compte ,'suspendu')" size="small" [disabled]="compte.statut === 'cloture'">Suspendre</p-button>
        <p-button (onClick)="confirmerChangement(compte ,'cloture')" size="small" [disabled]="compte.statut === 'cloture'">Clôturer</p-button>
      </td>
    </tr>
  </ng-template>
 
</p-table>
 <p-confirmDialog />

 
  <p-dialog
  header="Nouveau Compte"
  [(visible)]="dialogOuvert"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
>
  <form [formRoot]="formCompte" ngNoForm class="flex flex-column gap-4 pt-2">

    <div class="flex flex-column gap-2">
      <label class="font-semibold text-sm">Client</label>
      <p-select
        appendTo="body"
        [options]="clients()"
        optionLabel="nom"
        optionValue="id"
        [ngModel]="formCompte.clientId().value()"
        (ngModelChange)="formCompte.clientId().value.set($event)"
        placeholder="Sélectionner un client"
        class="w-full"
      />
    </div>

    <div class="flex flex-column gap-2">
      <label class="font-semibold text-sm">IBAN</label>
      <input pInputText [formField]="formCompte.iban" placeholder="FR...." class="w-full" />
      @if (formCompte.iban().invalid() && formCompte.iban().touched()) {
        <small class="text-red-500">{{ formCompte.iban().errors()[0]?.message }}</small>
      }
    </div>

    <div class="flex flex-column gap-2">
      <label class="font-semibold text-sm">Type</label>
      <p-select
        [options]="typeDisponibles"
        [ngModel]="formCompte.type().value()"
        (ngModelChange)="formCompte.type().value.set($event)"
        placeholder="Sélectionner un type"
        class="w-full"
      />
    </div>

    <div class="flex flex-column gap-2">
      <label class="font-semibold text-sm">Solde</label>
      <p-input-number
       class="w-full"
       [ngModel]="formCompte.solde().value()"
       (ngModelChange)="formCompte.solde().value.set($event)"
        />
    </div>

    <div class="flex justify-content-end gap-2 pt-2">
      <p-button label="Annuler" severity="secondary" (onClick)="fermerDialog()" />
      <p-button label="Enregistrer" icon="pi pi-check" (onClick)="onSubmit()" />
    </div>

  </form>
 </p-dialog>

  </div>
</div>