<div class="p-5">
  <div class="flex flex-column gap-4">

    <div class="w-full md:w-4 mx-auto">
      <app-recherche-client (rechercheLancee)="onRechercheLancee($event)" />
    </div>

    <div class="flex justify-content-end">
      <p-button label="Nouveau client" icon="pi pi-plus" (onClick)="ouvrirDialog()" />
    </div>

    @if (error()) {
      <p role="alert" class="p-error">Erreur de chargement.</p>
    }

    <p-table [value]="clients()" [loading]="isLoading()" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nom">Nom <p-sortIcon field="nom" /></th>
          <th pSortableColumn="prenom">Prénom <p-sortIcon field="prenom" /></th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-client>
        <tr>
          <td>{{ client.nom }}</td>
          <td>{{ client.prenom }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.telephone }}</td>
          <td class="text-right">
            <div class="flex gap-2 justify-content-end">
              <p-button icon="pi pi-trash" size="small" label="Supprimer" severity="danger" (onClick)="confirmerSuppression(client)"/>
              <p-button label="Voir" icon="pi pi-eye" size="small" severity="info" (onClick)="navigateToClientDetail(client.id)" />
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center p-4 text-color-secondary">Aucun client trouvé.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog />

  </div>
</div>

<p-dialog
  header="Nouveau client"
  [(visible)]="dialogOuvert"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  
>
  <form [formRoot]="formDialog" class="flex flex-column gap-4 pt-2">

    <div class="flex gap-3">
      <div class="flex flex-column gap-2 flex-1">
        <label for="nom" class="font-semibold text-sm">Nom</label>
        <input id="nom" pInputText [formField]="formDialog.nom" placeholder="Martin" class="w-full" />
        @if (formDialog.nom().invalid() && formDialog.nom().touched()) {
          <small role="alert" class="text-red-500">{{ formDialog.nom().errors()[0]?.message }}</small>
        }
      </div>

      <div class="flex flex-column gap-2 flex-1">
        <label for="prenom" class="font-semibold text-sm">Prénom</label>
        <input id="prenom" pInputText [formField]="formDialog.prenom" placeholder="Jean" class="w-full" />
        @if (formDialog.prenom().invalid() && formDialog.prenom().touched()) {
          <small role="alert" class="text-red-500">{{ formDialog.prenom().errors()[0]?.message }}</small>
        }
      </div>
    </div>

    <div class="flex flex-column gap-2">
      <label for="email" class="font-semibold text-sm">Email</label>
      <input id="email" pInputText #champNom  [formField]="formDialog.email" placeholder="jean.martin@email.fr" class="w-full" />
      @if (formDialog.email().invalid() && formDialog.email().touched()) {
        <small role="alert" class="text-red-500">{{ formDialog.email().errors()[0]?.message }}</small>
      }
    </div>

    <div class="flex gap-3">
      <div class="flex flex-column gap-2 flex-1">
        <label for="telephone" class="font-semibold text-sm">Téléphone</label>
        <input id="telephone" pInputText [formField]="formDialog.telephone" placeholder="06 12 34 56 78" class="w-full" />
        @if (formDialog.telephone().invalid() && formDialog.telephone().touched()) {
          <small role="alert" class="text-red-500">{{ formDialog.telephone().errors()[0]?.message }}</small>
        }
      </div>

      <div class="flex flex-column gap-2 flex-1">
        <label for="dateNaissance" class="font-semibold text-sm">Date de naissance</label>
        <input id="dateNaissance" pInputText [formField]="formDialog.dateNaissance" placeholder="15/05/1996" class="w-full" />
        @if (formDialog.dateNaissance().invalid() && formDialog.dateNaissance().touched()) {
          <small role="alert" class="text-red-500">{{ formDialog.dateNaissance().errors()[0]?.message }}</small>
        }
      </div>
    </div>

    <div class="flex flex-column gap-2">
      <label for="adresse" class="font-semibold text-sm">Adresse</label>
      <input id="adresse" pInputText [formField]="formDialog.adresse" placeholder="12 rue de la Paix, 75001 Paris" class="w-full" />
      @if (formDialog.adresse().invalid() && formDialog.adresse().touched()) {
        <small role="alert" class="text-red-500">{{ formDialog.adresse().errors()[0]?.message }}</small>
      }
    </div>

    <div class="flex justify-content-end gap-2 pt-2">
      <p-button label="Annuler" severity="secondary" (onClick)="fermerDialog()" />
      <p-button label="Enregistrer" icon="pi pi-check" (onClick)="onSubmit()" />
    </div>

  </form>
</p-dialog>
