<nav class="flex align-items-center justify-content-between px-5"
     style="background-color: var(--boa-navy); height: 64px;">

  <div class="flex align-items-center" style="flex: 1;">
    <span class="text-white font-bold text-2xl">BanqueApp</span>
  </div>

  <div class="flex align-items-center justify-content-center gap-3" style="flex: 1;">
    <span class="text-white text-sm">{{ messageNotifications() }}</span>
    <p-button icon="pi pi-bell" (onClick)="ajouterNotification()"
      severity="secondary" [rounded]="true" size="small" />
    <p-button label="Marquer comme lu" (onClick)="marquerCommeLu()"
      severity="secondary" size="small" />
  </div>

  <div class="flex align-items-center justify-content-end gap-3" style="flex: 1;">
  @if (estConnecte()) {
    <span class="text-white text-sm">Solde : <strong appMontantNegatif [montant]="solde()">{{ solde() | formatSolde:'EUR':'fr-FR' }}</strong></span>
  }
  
    <span class="text-white text-sm">Bonjour <strong>{{ nomAffiche() }}</strong> !</span>
    <p-button
      [label]="estConnecte() ? 'Déconnexion' : 'Connexion'"
      (onClick)="basculerConnexion()"
      severity="danger"
      size="small"
    />
  </div>

</nav>
